.Qrcode img{
    padding: 20px;
    box-shadow:10px;
}

*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.Qrcode{
    width: 100%;
    height: 100vh;
    display: flex;
    color: rgb(203, 92, 55);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-lable{
display: block;
margin: 8px;
font-size: larger;
}

input[type="text"]{
    padding: 13px;
    width: 100%;
    font-size: medium;
    border: 3px solid blueviolet;

}

button{
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 80px;
    cursor: pointer;
}

.gentrate{
    background-color: cadetblue;
    cursor:pointer;

}
.gentrate:hover{
    background-color: aquamarine;
}

.download{
    background-color: rgb(5, 103, 11);
}
.download:hover{
    background-color: aquamarine;
}
.footer{
    padding: 10px;
}